*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
.card{
    display: inline-block;
    width: 400px;
    margin: 2rem;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(50, 27, 155);
    color: white;
}

  .users{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 2rem;
    padding: 1.5rem;
    color: white;
}
  .users img{
    width: 150px;
    padding-left: 1rem;
}
  .user p{
    display: inline-block;
}